<div class="border-bottom">
  <div class="row">
  <div class="col-9">
<h4 style="color:grey;">{{job['title']}}</h4>
        <div><b>Location:</b>{{job['location']}}</div>
         <div><b>Salary:</b>{{job['salary']}}</div>
  </div>
  <div class="col-3" style="margin-top:20px">
  <a href="mailto:prakhardeoria.2004@gmail.com?subject=Application%20for%20{{job['title']}}&body=My%20name%3A%3Cname%3E%0D%0AMy%20Resume%20link%3A%3Clink%3E%0D%0A"class="btn btn-outline-primary" type="submit">Apply</a>
  </div>
 </div>
</div>
       <br>